body,html{
    margin: 0;
    padding: 0;
    
}
.icon-glasses{
    vertical-align: middle;
    width: 50px;
    height: auto;
    

}
header{
    font-family: 'Comic Sans MS', sans-serif; /* Example font */
    font-size: 48px;
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    margin-left: 175px;
}
.background_1{
    margin: 0;
    padding: 0;
    filter: blur(1px);
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
    
}
a{
    text-decoration: none;
    color: orangered;
}
.top{
    width: 40%;
}
.top_2{
    width: 60%;
}
.zeda{
    width: 350px;
    height: 350px;
}
#opa{
    height: 350px;
    width: 350px;
}
main{
    width: 100%;
    background-image: linear-gradient(to bottom, #00fffe, #59ffde, #91ffbb, #c4ff9b, #f5ff85);
}
.main_div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.box{
    height: 750px;
    width: 400px;
    background-color: rgba(66, 66, 66, 0.5);
    border-radius: 10px;
    padding: 20px;
    
}