body{
    scroll-behavior:initial;
}
.goa_picture{
    width: 6rem;
    height: 5.2rem;
    border-radius:50%;
    cursor: pointer;
}
.squad_site_name_h1{
    color: rgb(103, 116, 108);
}
.p_leader,.Leader_name{
    font-size: 8px;
}
.p_leader{
    margin-bottom: 5px;
}
.Leader_name{
    margin-top: 17px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 100px;
    cursor: pointer;
}
.iconn{
    width: 80px;
    cursor: pointer;
}
.iconnn{
    width: 65px;
    cursor: pointer;
}
.header2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    gap: 40px;
}
main{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-right:200px ;
}

.big{
    width: 100px;
}

.big_a{
    width: 247px;
}

.Leader{
    width: 100px;
    height: 50px;
    background-color: beige;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30%;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
.ah{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.arrow{
    width: 100px;
    height: 133px;
}
.Leader_photo{
    border-radius: 50%;
    width: 100px;
    cursor: pointer;
}

.member{
    border: 1px solid green;
}

.text{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(11, 97, 11);
}
.pirveli_xazi{
    font-size: 28px;
    color: rgb(11, 97, 11);
}
.meore_xazi{
    font-size:15px;
}
.mesame_xazi{
    font-size:15px;
}
.meotxe_xazi{
    font-size:17px;
}
.main_xazi{
    height: 5px;
    background-color: black;
    font-size: 19px;
}
.glavni_p{
    font-size:19px;
}
.odin{
    font-size: 2px;
}
.p_Mini-leader{
    margin-top: 5px;
}
.p_member{
    margin: 5px;
}
.odin,.dva,.tri,.chitiri,.piat,.shest{
    color:rgb(25, 121, 145);
}
.glavni_p{
    color: blue;
}
.odin{
    font-size:32px;
}
.dva,.tri{
    font-size: 20px;
}
.chitiri,.piat,.shest{
    font-size: 18px;
}
#main{
    font-size: 24px;
    color: rgb(0, 0, 0); 
    margin-left: 19%;
}
.chad{
    width: 100px;
}
.arroww{
    width: 70px;
    
}
.me{
    border-radius:50%;
    width: 80px;
}
.for_images{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   cursor: pointer;
}
.second_main{
    height: 350px;
    width:30%;
    display: flex;
    flex-direction: column;

}
.damakavshirebeli{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pc{
    width: 100px;
}
.helicopter{
    width: 100px;
    height: 250px;
}
.kiss{
    width: 20px;
}
.cuncul{
    display: flex;
    align-items: center;
    justify-content: center;
}
