body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.transition-background {
    width: 300px;
    height: 200px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    transition: background-color 1s ease; /* Transition effect */
    transition: height 5s ease;
}

.transition-background:hover {
    background-color: #2ecc71; /* Background color changes on hover */
    height:100px
}