
body{
    background-color: rgb(74, 204, 255);
    
}
header{
    margin-top: 35px;
    width: 1600px;
    height: 100px;
    padding: 0;
    background-color: rgb(133, 122, 233);
    font-size: xx-large;
    border-radius: 100px;
    color: rgb(39, 33, 71);
    box-shadow: 0px 0px 50px rgb(0, 38, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    font-family: "Gill Sans Extrabold", sans-serif;
}
.part_1,.part_2, .part_3{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 100px;
    
}
.pc_1, .pc_2 , .pc_3{
    display: flex;
    border: 5px solid;
    background-color: bisque;
    width: 450px;
    height: 300px;
    
}
.pc_1 p, .pc_2 p , .pc_2 img , .pc_3 p , .pc_3 img {
    width: 50%;
}
.pc_1 p , .pc_2 p , .part_3 p{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
  
}
.pc_1 p,.pc_2 p{
    background-color: bisque;
}
.img1{
    width: 100px;
}
.container1{
    width: 450px; 
    height: 300px; 
    background-color: #f0f0f0; 
    border: 5px solid #000000; 
    border-radius: 5px; 
    background-color: rgb(248, 157, 157);
    cursor: pointer;
    
}
.img_many{
    width: 109.5px;
    height: 97px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #ff0000;
   
}
.part_3 p{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}
.fix{
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.for-fix{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.first{
    font-size: 20px;
}
.info{
    text-align: center;
    cursor: pointer;
}
.thanks{
    cursor: pointer;
    font-size: 25px;
}
main{
    margin-bottom: 30px;




    
}





























