header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
  }
  .background {
    background-image: url("./matrix.jpg");
    background-size: cover;
  }